# =========================
# Node (all subprojects)
# =========================
node_modules/

# =========================
# Build outputs
# =========================
dist/
build/
coverage/

# =========================
# Environment files
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db


# ========================
# Prisma
# ========================
/backend/src/generated/prisma